* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #efc7a4;
}

.tarjeta {
	width: 400px;
	margin: auto;
	margin-bottom: 3em;
	background-color: #F2F2F2;
	height: 180px;
	padding: 2em;
	border-radius: 50px;
	border: 5px solid rgb(129, 28, 72);
}

.imagen {
	float: left;
	width: 30%;
}
.imagen img{
	width: 100%;
	border-radius: 50px;
}

.contenido {
	float: right;
	width: 70%;
}
.contenido button {
	float: right;
	display: block;
	margin-bottom: 1em;
	border-radius: 8px;
}
.contenido h1 {
	font-family: 'Montserrat';
	font-size: 1em;
	text-align: center;
	margin-top: 1.5em;
}
.contenido p {
	font-family: 'Roboto', sans-serif;
	text-align: right;
	padding-right: 4em; 
}

ul {
	padding-right: 1em;
	padding-left: 2.5em;
}
ul li {
	display: inline-block;
	border: 1px solid black;
	padding: 1em;
	border-radius: 50%;
	background: #BB5681;
	margin-right: 10px;
	margin-bottom: 5px;
}

#t1, #t3 {
	float: left;
}

#t2, #t4 {
	float: right;
}

#tarjetas {
	padding-left: 10em;
	padding-right: 10em;
	margin: auto;
}

#cabecera {
	background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
	padding-top: 1.5em;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	border-bottom: 5px solid #811C48;
	margin-bottom: 4em;
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);

}
#cabecera h1 {
	color: #000;
	text-shadow: 2px 2px 2px #811C48;
	font-size: 2.5em;
}
#cabecera h2 {
	text-align: center;
	font-family: fantasy;
	margin-top: 0.2em;
	margin-bottom: 1em;
	font-size: 1em;
}

#footer {
	clear: both;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 1em;
	padding-top: 1em;
	background-image: linear-gradient(135deg, #e2d1c3 0%, #fdfcfb 100%);
	border-top: 5px solid #811C48;
}
#footer h5 {
	font-size: 1em;
}
#footer p {
	font-size: .9em;
}