html {
	display: flex;
	justify-content: center;
	align-items: center;
}
body {
	font-family: 'Montserrat', sans-serif;
}
header {
	text-align: center;
	font-size: 150%;
}

header a img {
	border-radius: 25%;
}

header a {
	text-decoration: none;
	color: #000;
}

nav {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

nav > a {
	text-decoration: none;
	color: #940f;
	font-weight: 600;
	margin: 10px;
	font-size: 21px;
}

p {
	max-width: 1200px;
}

.tabla {
	text-align: center;
}
.tabla h2 {
	margin-top: 50px;
}
table {
	text-align: center;
	align-items: center;
}
table th {
	padding: 10px;
}
table td {
	padding: 2px;
}

.parrafo-descripcion {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.intro-integrantes {
	text-align: center;
}

.intro-integrantes h3 {
	margin-bottom: 5px;
}

.intro-integrantes ul {
	text-align: left;
	display:inline-block;
}

.intro-integrantes ul li a {
	text-decoration: none;
	font-weight: 500;
	color: #888;
}

.intro-integrantes ul li a:hover {
	color: #940f;
}

.separador-int {
	margin-bottom: 30px;
	margin-top: 20px;
}

.tit-int {
	text-align: center;
}

.tit-int h2 {
	font-size: 35px;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	align-items: end;
	max-width: 1500px;
	text-align: center;
	column-gap: 50px;
}

.grid-items {
	padding: 0;
	margin: 0;
}

.grid-items img {
	width: 100%;
	align-self: center;
	border-radius: 20px;
}

.grid-items img:hover {
	transform: scale(1.02);
}

.grid-items h4 {
	font-size: 21px;
	margin-top: 8px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 5px; 
}

.grid-items p {
	margin-top: 0;
} 

// BOTÓN DE VOLVER A INICIO
.contenedor-boton {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: 20px;
}

.enlace-inicio {
	text-align: center;
	margin-top: 50px;
}

.boton-inicio {
	text-decoration: none;
	padding: 10px;
	background-color: white;
	border: solid 1px black;
	border-radius: 10px;
	box-shadow: 5px 5px 0px 0px rgba(153, 68, 0, 0.8);
	font-weight: 600;
	margin-top: 30px;
	margin-bottom: 20px;
}

.boton-inicio:hover {
	transform: scale(1.02);
}

.enlaces {
	text-align: center;
	margin-bottom: 30px;
}

.enlaces a {
	text-decoration: none;
	font-weight: 500;
}

.tabla-discos tr td img {
	width: 150px;
	border-radius: 7px;
}

.tabla-discos tr td {
	padding: 30px;
}

.portada {
	padding: 0px;
}