html {
	display: flex;
	max-width: 1000;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.verde {
	background-color: #266630;
	height: 150px;
	width: 1000px;
}
.blanco {
	background-color: #ffffff;
	height: 150px;
	width: 1000px;
}
.espacio-blanco {
	height: 100px;
	color: #ffffff;
	width: 1000px;
}
.rojo {
	background-color: #AE1D10;
	height: 150px;
	width: 1000px;
}
.amarillo {
	background-color: #F9BE02;
	height: 225px;
	width: 1000px;
}